
#list li {
  display: block;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;

  padding: 10px 15px;
  margin-bottom: 12px;

  display:flex;
  align-items: center;
  justify-content: space-between;

  box-shadow: 1px 2px 4px black;
}

li>div{
    object-fit: fill;
    margin-top: 10%;
}
#list li:nth-child(odd) {
  background-color: #f8f9fa; 
}

#list li:nth-child(even) {
  background-color: #e1f2ff; 
}

#list li:hover {
  background-color: #edefe9;
}

#remove:hover{
    li{
        box-shadow: 1px 2px 4px black;
    }
}

#list li:has(#remove:hover) {
  box-shadow: 2px 3px 6px rgba(0,0,0,.35);
}



